<div class="container" fxLayout="column" fxLayoutGap="20px">
    <div class="d-flex justify-content-between align-items-center my-5">
        <!-- Bouton Bootstrap bleu -->
        <button class="btn btn-primary" (click)="showAddForm = !showAddForm">
            {{ showAddForm ? 'Annuler' : 'Ajouter Employé' }}
        </button>
    
        <!-- Champ de recherche Bootstrap -->
        <div class="input-group w-50">
            <input type="text" class="form-control" placeholder="Rechercher..." (keyup)="applyFilter($event)">
        </div>
    </div>

    <!-- Formulaire d'ajout d'un employé -->
    <form *ngIf="showAddForm" (submit)="addEmployee()" #employeeForm="ngForm" fxLayout="column" fxLayoutGap="10px">
        <mat-form-field>
            <input matInput placeholder="Prénom" [(ngModel)]="newEmployee.firstName" name="firstName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nom" [(ngModel)]="newEmployee.lastName" name="lastName" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="newEmployee.email" name="email" type="email" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Âge" [(ngModel)]="newEmployee.age" name="age" type="number" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Salaire" [(ngModel)]="newEmployee.salary" name="salary" type="number" required>
        </mat-form-field>

        <button class="btn btn-success ms-5" type="submit">Valider</button>
    </form>

<div class="table-container" style="position: relative;"> 
    <!-- Indicateur de chargement (spinner) -->
    <div *ngIf="loading" class="loading-spinner" >
        <mat-spinner diameter="50"></mat-spinner> <!-- Spinner Angular Material -->
        <p>Chargement...</p>
    </div>


    <!-- Tableau des employés -->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="mat-table">
            
            <!-- ID -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
            </ng-container>

            <!-- Prénom -->
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                <td mat-cell *matCellDef="let element"> {{ element.firstName }} </td>
            </ng-container>

            <!-- Nom -->
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                <td mat-cell *matCellDef="let element"> {{ element.lastName }} </td>
            </ng-container>

            <!-- Email -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
            </ng-container>

            <!-- Âge -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Âge </th>
                <td mat-cell *matCellDef="let element"> {{ element.age }} </td>
            </ng-container>

            <!-- Salaire -->
            <ng-container matColumnDef="salary">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Salaire </th>
                <td mat-cell *matCellDef="let element"> {{ element.salary }} € </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="warn" (click)="deleteEmployee(element.id)" style="color: red;">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <!-- Pagination -->
        <mat-paginator [pageIndex]="pageIndex" 
        [length]="length" 
        [pageSize]="pageSize" 
        [pageSizeOptions]="pageSizeOptions"
        > 
        <!-- (page)="onPageChange($event)" -->
</mat-paginator>
    </div>
</div>
</div>
